MISTRAL_API_KEY = "YOUR_API_KEY"
MISTRAL_API_KEY2 = "YOUR_API_KEY_2"
MISTRAL_API_KEY3 = "YOUR_API_KEY_3"
MISTRAL_URL = "https://api.mistral.ai/v1"


TINYFISH_API = "YOUR_TINYFISH_API"


# TTS-SERVICE
AUDIO_PATH = "src/vcp/output"
VOICE = "am_michael"
TTS_SPEED = 1.122
